<br>
<br>
<br>
<br>

        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 mx-auto"> 
              <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Ajouter un Appel d'offre</h5>
                    <div class="card mb-0">
                        <div class="card-body p-4">
                  <form>
                    <div class="form-group row">
                        <div class="col-md-6">
                          <label for="nom" class="form-label" >Nom :</label>
                          <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
                        </div>
                        <div class="col-md-6">
                          <label for="societe" class="form-label" >Nom de la société :</label>
                          <input type="text" class="form-control" id="societe" placeholder="Entrez le nom de votre société">
                        </div>
                      </div>
                      <br>
                    <div class="form-group">
                      <label for="email" class="form-label" >Email :</label>
                      <input type="email" class="form-control" id="email" placeholder="Entrez votre email">
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-6">
                          <label for="reference" class="form-label" >Référence :</label>
                          <input type="text" class="form-control" id="reference" placeholder="Entrez la référence">
                        </div>
                        <div class="col-md-6">
                          <label for="pays" class="form-label" >Pays :</label>
                          <select class="form-control" id="pays">
                            <option>Choisissez un pays</option>
                            <option>France</option>
                            <option>Allemagne</option>
                            <option>États-Unis</option>
                            <!-- Ajoutez d'autres pays au besoin -->
                          </select>
                        </div>
                      </div>
                      <br>
                    <div class="form-group">
                      <label for="datePublication" class="form-label" >Date de publication :</label>
                      <input type="date" class="form-control" id="datePublication">
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="dateLimite" class="form-label" >Date limite :</label>
                      <input type="date" class="form-control" id="dateLimite">
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary m">Envoyer</button>
                  </form>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
            </div>
        </div>
        
          

     